:root {
  --ff-sans-serif: 'Roboto', sans-serif;
  --ff-monospace: 'Roboto Mono', monospace;
  font-size: 16px;
}

body {
  font-family: var(--ff-sans-serif);
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
}