.board__title {
  text-align: center;
  color: rgba(255, 255, 255, .5);
  margin: 0;
  padding: 1em 0;
}

.board__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  * {
    position: relative;
  }
}

.board {
  position: relative;
  padding-bottom: 1em;

  .garden {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em 2em;
  }


  jar {
    &:before {
      content: '🫙';
      font-size: 5em;
      position: relative;
    }

    * {
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
      bottom: 20%;
    }

    cherry {
      font-size: 0.8em;
    }

    &#large {
      &:before {
        font-size: 7em;
      }
    }
  }

  apple {
    &:before {
      content: '🍎';
      font-size: 3em;
    }

    &#green:before {
      content: '🍏';
    }
  }

  cherry {
    &:before {
      content: '🍒';
      font-size: 3em;
    }
  }

  pear {
    &:before {
      content: '🍐';
      font-size: 3em;
    }
  }

  .magic {
    filter: invert(1);
  }

  .highlight {
    animation: glowing 1300ms infinite;
    transition: all 0.3s ease-in;
    transform-origin: center;
  }

  .garden .hover {
    text-shadow: 0 0 13px #fff;

    * {
      text-shadow: none;
    }
  }
}

.board--solved {
  .highlight {
    animation: none;
    scale: 0.2;
  }
}

@keyframes glowing {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.board__hint {
  position: absolute;
  display: none;
  bottom: 0;
  background: #fff;
  border: 2px solid #999;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, .5);
  padding: 0.2em 0.5em;
  transform: translateX(-50%);
  white-space: nowrap;
}

.board__hint--show {
  display: block;
}