body {
  counter-reset: level;
}

.levels {
  display: flex;
  flex-direction: column;
}

.levels__title {
  color: rgba(255, 255, 255, .5);
  padding: 1rem;
  margin: 0;
  font-weight: normal;
}

.level-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}

.level {
  cursor: pointer;
  color: var(--levels-color);
  display: flex;
  padding: 0.1em 1em;

  &:before {
    content: '';
    text-align: center;
    order: -2;
    width: 10px;
    height: 5px;
    margin-right: 0.5em;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-radius: 3px;
    transform: rotate(-45deg);
    position: relative;
    top: 3px;
  }

  &:after {
    counter-increment: level;
    content: counter(level);
    width: 1em;
    padding-right: .7em;
    text-align: right;
    order: -1;
  }
}

.level--done {
  &:before {
    color: rgb(37, 210, 57);
  }
}

.level--helped {
  &:before {
    color: rgb(210, 150, 37);
  }
}

.level:hover,
.level--current {
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, .7);
}

.levels-reset {
  margin: 1em;
  padding: 0.5em 0;
  border: 1px solid rgba(255, 255, 255, .7);
  color: rgba(255, 255, 255, .7);
  background: rgba(255, 255, 255, .2);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, .3);
    ;
  }
}

.levels__toggle {
  position: fixed;
  width: 1.5em;
  height: 1.5em;
  right: 1em;
  top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  color: rgba(255, 255, 255, .3);
  overflow: hidden;
  z-index: 10;
  visibility: hidden;

  &:before,
  &:after,
  span {
    content: '';
    display: block;
    border-width: 1px;
    border-style: solid;
    transition: all 0.3s;
    transform-origin: center;
    position: relative;
    width: 150%;
    top: 0;
    left: -25%;
  }

  &:hover {
    color: rgba(255, 255, 255, .5);
  }

  .levels--open & {
    &:before {
      top: 50%;
      transform: rotate(45deg);
    }

    &:after {
      top: -50%;
      transform: rotate(-45deg);
    }

    span {
      opacity: 0;
    }
  }
}

@media (max-width: 900px) {
  .levels__toggle {
    visibility: visible;
  }

  .wrapper {
    grid-template-columns: 1fr 0 !important;
  }

  .aside {
    position: fixed;
    height: 100%;
    overflow: auto;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: 0.3s ease-out;
    z-index: 5;
  }

  .levels--open {
    overflow: hidden;

    &:before {
      content: '';
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .3);
      z-index: 1;
    }

    .aside {
      transform: translateX(0);
    }
  }
}